/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'HelveticaNeueCyr', sans-serif;
$custom-font-family: 'Gotham Pro', sans-serif;
$custom-2-font-family: 'Geometria', sans-serif;
$link-color: #100da9;
$default-transition:all 0.1s linear;
$transition-card: 0.5s ease-in-out;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;