/*
================================================================================
|                                     ASIDE                                 |
================================================================================
*/

/*Боковая панель*/
.fix-panel {
	position: fixed;
	left: 0;
	top: 0;
	width: 231px;
	height: 100%;
	background: #fff;
	z-index: 5;
}
.logo {

	&__substrate {
		background: #919da3;
		padding-top: 26px;
		padding-bottom: 26px;
	}
	&__img {
		background-image: url("../img/icon_sprite.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		width: 65px;
		height: 57px;
		position: relative;
		left: 50%;
		margin-left: -36px;
	}
	&__head {
		color: #fff;
		text-align: center;
		font-family: 'Bebas Neue';
		font-size: 29px;
		margin-top: 22px;
		margin-bottom: 10px;
		letter-spacing: 1.1px;
	}
	&__text {
		color: #fff;
		text-align: center;
		font-size: 14px;
		padding: 0;
		font-weight: 300;
		letter-spacing: 0.6px;
		line-height: 21px;
		opacity: .56;
	}
}
.box-link-fix-panel {
	position: relative;
	padding-top:38px;
	padding-bottom:32px;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: #888888;
		border-bottom: 1px solid #777777;
		opacity: 0.12;
	}
	&--modif-indent {
		padding-top: 43px;
		padding-bottom: 45px;
	}
}
.auxiliary-info {
	text-align: center;
	padding: 0 33px;

	&__img {

		&--books {

			img {
				width: 132px;
			}
		}
		&--engine {
			margin-right: 13px;
			img {
				width: 124px;
			}
		}
	}
	&__link {
		font-family: $custom-2-font-family;
		font-weight: bold;
		font-size: 19.5px;
		text-align: center;
		color: #090909;
		text-transform: uppercase;
		line-height: 26px;
		display: inline-block;
		margin-top: 21px;
		&:hover {
			opacity: 0.5;
		}
		&--modif-indent {
			margin-top: 39px;
		}
	}
	&__text {
		text-transform: uppercase;
		font-size: 12px;
		opacity: .67;
		padding: 0;
		padding-top: 22px;
		line-height: 21px;
	}
}
.contact-phone {
	text-align: center;
	padding-top: 35px;

	&__head {
		letter-spacing: 0.3px;
		font-size: 13.5px;
		opacity: .67;
		color: #090909;
	}
	&__tel {
		font-family: $custom-2-font-family;
		font-weight: bold;
		font-size: 20.5px;
		color: #090909;
		display: inline-block;
		margin-top: 12px;
	}
}
.box-map-fix-panel {
	text-align: center;
	margin-top: 25px;
}
.map-min {
	display: inline-block;
	width: 178px;
	height: 66px;
	background: url("../img/img_min-map.png") center no-repeat;
}
.box-btn-fix-panel {
	text-align: center;
	margin-top: 19px;
	padding-right: 2px;
}
.box-mail-fix-panel {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 3px;
}
.contact-mail {

	&__link {
		color: #9ba6ab;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}
}
.fix-panel-btn {
	display: none;
	position: absolute;
	font-size: 40px;
	color: #fff;
	z-index: 10;
	top: 50px;
	left: 25px;
	cursor: pointer;
	padding: 5px;
}
/*Боковая панель*/



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-height: 1060px) {
	.box-link-fix-panel {
		padding-top: 28px;
		padding-bottom: 22px;
	}
	.box-link-fix-panel--modif-indent {
		padding-top: 18px;
		padding-bottom: 12px;
	}
	.contact-phone {
		padding-top: 22px;
	}
}
@media screen and (max-height: 980px) {
	.box-link-fix-panel {
		padding-top: 18px;
		padding-bottom: 12px;
	}
	.box-link-fix-panel--modif-indent {
		padding-top: 18px;
		padding-bottom: 12px;
	}
	.contact-phone {
		padding-top: 12px;
	}
}
@media screen and (max-height: 940px) {
	.fix-panel {
		overflow-y: scroll;
	}
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.fix-panel {
		width: 0;
		overflow: hidden;
	}
	.fix-panel_overflow {
		overflow-y: scroll;
	}
	.fix-panel-btn {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.fix-panel-btn {
		top: 25px;
	}
}
