
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
		//position: relative;
		//overflow: hidden;
		//min-height:100%;
		//display: -webkit-box;
		//display: -moz-box;
		//display: -ms-flexbox;
		//display: -webkit-flex;
		//display: flex;
		//flex-direction:column;
		//-webkit-flex-direction:column;
		//-ms-flex-direction: column;
		//justify-content:flex-start;
		//-webkit-justify-content:flex-start;
		//-ms-flex-pack: start;

		&_main {
			display: block;
		}
	}
	.wrapper{
		min-width: $min-width;
		max-width: $max-width;
		padding: 0 40px 0 40px;
		margin: 0 auto;
		position: relative;
	}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
	width: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	background: #b7da85;
}

/*Главная - поэкранный скрол*/
.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	//display: flex;
	//justify-content: center;
	//align-items: center;
}
.swiper-pagination {
	counter-reset: myCounter;
}
.swiper-pagination-bullet {
	position: relative;

	&:before {
		position: absolute;
		left: 10px;
		bottom: 12px;
		counter-increment: myCounter;
		content: "0" counter(myCounter) ".";
		display: inline-block;
		text-align: center;
		color: #fff;
		font-size: 14px;
		letter-spacing:1.3px;
		font-family: $custom-font-family;
		font-weight: 500;
		transition: 0.2s;
	}
	&-active:before{
		opacity: 1;
		color: #ddb86f;
	}
	&:after {
		content: '';
		position: absolute;
		right: -12px;
		top: -9px;
		height: 58px;
		width: 1px;
		transition: 0.2s;
	}
	&-active:after {
		background: #ddb86f;
		opacity: 1;
	}
}
.swiper-pagination-bullet:hover:before {
	opacity: 1;
	color: #ddb86f;
	transition: 0.2s;
}
.swiper-pagination-bullet:hover:after {
	background: #ddb86f;
	opacity: 1;
	transition: 0.2s;
}

._shifted .shift-wrap, ._shifted .shift-wrap * {
	pointer-events: none!important;
}

.pagination-line {
	height: 100%;
	width: 1px;
	position: absolute;
	background: #fff;
	opacity: 0.5;
	top: 0;
	right: 109px;
	z-index: 2;
}

.mp-screens-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: top .6s;
	-webkit-overflow-scrolling: auto;
	z-index: 10;
	transform: translateZ(0);
}

.shift-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transform: translate3d(0,0,0);
	transform-origin: 0 50% 0;
	transition: transform .4s;
	will-change: transform;
	z-index: 1;
}

/* меню */
.global-menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: transparent;
	transform: translateX(100%);
	transition: none;
	will-change: transform;
	z-index: 1010;
	width: 910px;
}

.g-menu-list {
	list-style-type: none;
	position: relative;
	top: 49.3%;
	transform: translateY(-50%);

	&__item {

	}
	&__link {
		color: #fff;
		font-size: 21.51px;
		line-height: 71px;
		font-family: $custom-2-font-family;
		text-transform: uppercase;
		padding-left: 37px;
		transition: 0.2s;
		letter-spacing: -0.4px;

		&:hover {
			color: #ddb86f;
		}
	}
}
/* меню */

._shifted .shift-wrap {
	transform: translateX(-73.8%) translateZ(0) rotateY(47deg) scaleX(1.77) scaleY(1.22);
}

._shifted .global-menu {
	transform: translateX(0);
	transition: transform .2s ease-out .2s,width .1s linear;
}
.app-container {
	perspective: 4239px;
	min-height: 0;
	height: 100%;

	position: relative;
	min-width: 320px;
	margin: 0 0 0 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 10;
	-webkit-overflow-scrolling: auto;
	pointer-events: auto;
	background: #232323;
}

.full-bg-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;

	img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
	}
}
.slide-container {
	position: relative;
	z-index: 2;
	padding-left: 365px;
	padding-right: 170px;
}

.slide-screen {
	width: 1266px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 198px;
	position: relative;

	&--modif-indent {
		padding-top: 242px;
	}
	&--screen3 {
		padding-top: 177px;
		height: 100vh;
	}
}
.box-head-slide {
	float: left;
	width:650px;
	max-width: 100%;
	text-align: left;
	padding-top:16px;
	position: relative;
	min-height: 344px;
	
	&:before {
		content: '';
		position: absolute;
		top: 49px;
		left: -72px;
		background: #ddb86f;
		height: 4px;
		width: 38px;
	}
	&--modif-height {
		min-height: 290px;
		width: 680px;
	}
}
.slide-head {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 66.85px;
	line-height: 82px;
	letter-spacing: 2px;
	color: #fff;
	display: inline;

	.color-modif {
		color: #ddb86f;
	}
}
.typed-strings {
	display: none;
}
.typed-cursor {
	font-size: 66.85px;
	color: #ddb86f;
	display: none;
}
.box-head-block-slide {
	float: right;
	margin-top: 34px;
	margin-right: 3px;

	&--modif-indent {
		margin-top: 10px;
	}
}
.note-in-border {
	border: 1px solid rgba(255, 255, 255, 0.22);
	max-width: 538px;
	padding-left: 234px;
	padding-top:36px;
	padding-bottom:17px;
	position: relative;
	
	&__img {
		position: absolute;
		left: -72px;
		bottom: 35px;
		
		img {
			width: 252px;
		}
		&--man {
			left: 21px;
			bottom: -2px;
			img {
				width: 194px;
			}
		}
	}
	&__text {
		text-align: left;
		color: #fff;
		font-size: 17.5px;
		line-height: 27px;
		letter-spacing: -0.2px;
		font-weight: normal;
		padding: 0;
		opacity: 1;
		margin-bottom: 16px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -42px;
			top: 12px;			
			background: rgba(255, 255, 255, 0.40);
			width: 19px;
			height: 1px;
		}
		&--modif-space {
			letter-spacing: 0.2px;
			margin-bottom: 9px;
		}
		&--modif-icon {
			font-size: 29.5px;
			line-height: 43px;
			letter-spacing: 1.1px;

			strong {
				letter-spacing: 0.9px;
			}
			&:before {
				content: '';
				position: absolute;
				left: -57px;
				top: 7px;		
				background: url('../img/icon_logo-head.png?ver1.2') center no-repeat;
				background-size: 100%;
				width: 32px;
				height: 28px;
			}
		}
	}
	&--modif-indent {
		margin-top: 31px;
		padding-left: 270px;
		padding-right: 37px;
	}
	&--modif-border-off {
		margin-top: 2px;
		padding-top: 0;
		padding-left: 153px	;
		padding-right: 6px;
		border: none;
	}
}

.box-two-col-slide {
	margin-top:67px;
	margin-left: 3px;
}
.col-slide {
	max-width:340px;
	float: left;
	
	&--modif-indent {
		margin-right: 36px;
	}
	&__head {
		text-align: left;
		color: #0d0d0d;
		font-family:$custom-font-family;
		font-size: 29.5px;
		line-height: 36px;
		letter-spacing: -0.95px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -58px;
			top: 2px;
			width: 32px;
			height: 28px;
			background: url("../img/icon_logo-head.png") center no-repeat;
			background-size: 100%;
		}
	}
	&__text {
		text-align: left;
		color: #090909;
		opacity: .78;
		font-weight: normal;
		font-size: 17.5px;
		line-height: 28.5px;
		letter-spacing:0.3px;
		padding: 0;
		margin-top: 30px;
	}
}
.box-btn-slide {
	text-align: left;
	margin-top: 80px;
	margin-left: 3px;

	&--screen3 {
		margin-top: 56px;
		margin-left: -5px;
	}
}
.box-img-slide {
	position: absolute;
	right: -43px;
	bottom: -50px;
	img {
		width: 613px;
	}
}

/*Главная - поэкранный скрол --*/

/*кнопки*/
.btn,
.btn-min {
	display: inline-block;
	color: #fff;
	font-family: $custom-2-font-family;
	background: #fb5654;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	border-radius: 8px;
	transition: 0.2s;
}
.btn:hover:before,
.btn:hover:after,
.btn:hover,
.btn-min:hover:before,
.btn-min:hover:after,
.btn-min:hover {
	background: #ddb86f;
}
.btn {
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0px;
	padding: 34px 48px 31px 52px;
	margin-left: 5px;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		height: 99.4%;
		width: 20px;
		background: #fb5654;
		transition: 0.2s;
	}
	&:before {
		left: -4px;
		border-top-left-radius: 45%;
		border-bottom-left-radius: 45%;
	}
	&:after {
		right: -4px;
		border-top-right-radius: 45%;
		border-bottom-right-radius: 45%;
	}
}
.btn {

	&--screen3 {		
		padding: 34px 42px 31px 43px;
	}
}
.btn-min {
	font-size: 10px;
	line-height: 10px;
	letter-spacing:0.1px;
	padding: 11px 8px 11px 10px;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		height: 99.4%;
		width: 12px;
		background: #fb5654;
		transition: 0.2s;
	}
	&:before {
		left: -6px;
		border-top-left-radius: 30%;
		border-bottom-left-radius: 30%;
	}
	&:after {
		right: -6px;
		border-top-right-radius: 30%;
		border-bottom-right-radius: 30%;
	}
}
/*кнопки*/

/*карусель*/
.owl-carousel {
	width: 100%;
	z-index: 1
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item,.owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0)
}
.owl-nav {
	position: relative;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -48px;
	margin-top: -48px;
}
.owl-prev,
.owl-next {
	background: #000;
	width: 30px;
	height: 87px;
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 0;
	background: url("../img/arrow_carousel.svg") center no-repeat;
	background-size: 100%;
	cursor: pointer;

	&:hover {
		transition: 0.2s;
		opacity: 0.5;
	}
}
.owl-prev {
	left: -106px;
}
.owl-next {
	right: -100px;
	transform: scaleX(-1);
}
.owl-carousel {

	.owl-item {
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
	}
}
.owl-carousel__item {	
		padding: 0 20px;
}
.box-carusel {
	width: 1073px;
	max-width: 100%;	
	position: relative;
	margin-top: 52px;
	margin-left: 111px;

	&--modif-indent {
		margin-top: 0;
	}
}
.box-card-info-carousel {

}
.card-info {
	width: 331px;
	height: 409px;
	position: relative;
	display: block;
	border-radius: 4px;
	padding-left: 34px;
	padding-top: 40px;
	padding-right: 21px;
	overflow: hidden;

	&__img,
	&__blackout {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
	}
	&__logo,
	&__head,
	&__text {
		position: relative;
		color: #0d0d0d;
		text-align: left;
		display: block;
		transition: $transition-card;
		z-index: 5;
	}
	&__img {		
		width: 331px;
	}
	&__blackout {
		background: rgba(0, 0, 0, 0.65);

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 50%;
			background: #fff;
			z-index: 1;
			transition: $transition-card;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	&__logo {
		position: relative;
		height: 40px;

		img {
			position: absolute;
			left: 0;
			top: 0;
		}
		.default {
			transition: $transition-card;
			opacity: 1;
			top: 0px;
			width: 40px;
		}
		.active {
			transition: $transition-card;
			opacity: 0;
			top: 80px;
			width: 40px;
		}
		&--modif-other {

			.default {
				width: 140px;
				top: -4px;
			}
		}
	}
	&__head {
		text-transform: uppercase;
		font-family: $custom-2-font-family;
		font-size: 24px;
		line-height: 35px;
		letter-spacing: 0.1px;
		margin-top: 28px;
	}
	&__text {
		font-size: 16.5px;
		font-weight: normal;
		line-height: 27px;
		letter-spacing: 0.2px;
		padding: 0;
		margin-top: 21px;
		padding-right: 18px;
	}
}
.card-info:hover {

	.card-info__blackout {

		&:before {
			top: -50%;
		}
		&:after {
			bottom: -50%;
		}
	}
	.card-info__head,
	.card-info__text {
		color: #fff;
	}
	.card-info__logo .default {
		opacity: 0;
		top: -80px;
	}
	.card-info__logo .active {
		opacity: 1;
		top: 0px;	
	}
}
.card-info--modif-other:hover {

	.card-info__head,
	.card-info__text {
		color: #fb5654;
	}
	.card-info__blackout {

		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	.card-info__logo .default {
		opacity: 1;
		top: -4px;
	}
}
/*карусель*/
.box-demounted-engine {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.demounted-engine {

	&__text {
		position: absolute;
		text-align: left;
		opacity: 0;
		transition: opacity 0.4s;


		&:before,
		&:after {
			content: '';
			position: absolute;			
		}
		&:before {
			width: 31px;
			height: 27px;
			background: url('../img/icon_logo-head.png') center no-repeat;
			background-size: 100%;
			left: -48px;
			top: -2px;
		}
		&:after {
			width: 107px;
			height: 30px;
			background: url('../img/arc.svg') center no-repeat;
			background-size: 100%;
			left: -162px;
			top: 12px;
		}
	}	
	&__head {
		color: #0d0d0d;
		font-size: 25px;
		font-family: $custom-font-family;
		font-weight: normal;
		letter-spacing: -1.1px;
	}
	&__descr {
		color: #090909;
		font-size: 16.5px;
		font-weight: normal;
		padding: 0;
		margin-top: 12px;
		line-height: 26px;
		letter-spacing: 0.3px;
	}
	&__item {
		position: absolute;
		transition: 0.9s ease-in-out;
		
		&.first {
			top: 388px;
			right: 349px;
			img {
				width: 176px;
			}
		}
		&.second {
			top: 421px;
			right: 410px;
			img {
				width: 130px;
			}
		}
		&.third {
			top: 441px;
			right: 431px;
			img {
				width: 133px;
			}
			.demounted-engine__text {
				left: 278px;
				top: 132px;
				width: 221px;
			}
		}
		&.fourth {
			top: 442px;
			right: 438px;

			img {
				width: 281px;
			}
			.demounted-engine__text {
				left: 374px;
				top: 233px;    
				width: 321px;

				&:after {
					left: -168px;
					top: 17px;
				}
			}
		}
		&.fifth {
			top: 593px;
			right: 630px;

			img {
				width: 293px;
			}
			.demounted-engine__text {
				left: 458px;
				top: 183px;    
				width: 361px;

				&:after {
					background: url(../img/arc3.svg) center no-repeat;
					background-size: 100%;
					left: -200px;
					top: -71px;
					width: 128px;
					height: 77px;
				}
			}
		}
		&.sixth {
			top: 705px;
			right: 857px;
			img {
				width: 166px;
			}
			.demounted-engine__text {
				left: 413px;
				top: 155px;    
				width: 451px;

				&:after {
					background: url(../img/arc3.svg) center no-repeat;
					left: -207px;
					background-size: 100%;
					top: -66px;
					width: 128px;
					height: 77px;
				}
			}
		}
		&.seventh {
			top: 784px;
			right: 935px;
			img {
				width: 29px;
			}
		}
	}
}
.screen-3.swiper-slide-active {

}
.demounted-engine.active {

	.demounted-engine__item {

		.demounted-engine__text {
			opacity: 1;
		}
		&.first {
			top: 216px;
			right: 92px;
		}
		&.second {
			top: 308px;
			right: 238px;
		}
		&.third {
			top: 383px;
			right: 347px;
		}
		&.fourth {
			top: 442px;
			right: 438px;
		}
		&.fifth {
			top: 637px;
			right: 696px;
		}
		&.sixth {
			top: 801px;
			right: 998px;
		}
		&.seventh {
			top: 946px;
			right: 1175px;
		}
	}
}

.main-page-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background-color: transparent;	
	padding-left: 300px;
	padding-right: 204px;
}
.h-menu {
	margin-top: 76px;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
	max-width: 100%;

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 6.7%;
		}
	}
	&__link {
		font-size: 14px;
		color: #fff;
		font-family: $custom-2-font-family;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -3px;
			width: 100%;
			height: 1px;
			background: #fff;
			opacity: .3;
			transition: 0.2s;
		}
	}
}
.h-menu__link:hover:after {
	opacity: 1;

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}

@media screen and (max-width: 1680px) {
	.h-menu__item:not(:last-child) {
		margin-right: 2.7%;
	}
	.h-menu {		
		width: auto;
		max-width: none;
		text-align: center;
	}
}
@media screen and (max-width: 1400px) {
	// .h-menu {		
	// 	display: none;
	// }
	// .slide-screen {
	// 	padding-top: 39px;
	// }
}
@media screen and (max-width: 1200px) {
	.slide-container {
		padding-left: 280px;
		padding-right: 170px;
	}
}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {
	.global-menu {
		width: 40.875rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	._shifted .shift-wrap {
		transform: translateX(-90.8%) translateZ(0) rotateY(47deg) scaleX(1.77) scaleY(1.22);
	}
	.pagination-line {
		width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    top: 100px;
	}
	.box-demounted-engine {
		right: 10px;
	}
	
}

@media screen and (max-width: 568px) {
	.global-menu {
		width: 33.875rem;
	}
}

@media screen and (max-width: 480px) {
	.demounted-engine__item {
		&.sixth {
			.demounted-engine__text {
				left: 500px;
			}
		}
	}
	.global-menu {
		width: 27.875rem;
	}
}

@media screen and (max-width: 414px) {
	.demounted-engine__item {
		&.sixth {
			.demounted-engine__text {
				left: 600px;
			}
		}
	}
}


@media screen and (max-width: 375px) {
	.global-menu {
		width: 23.875rem;
	}
	.demounted-engine__item {
		&.fourth {
			.demounted-engine__text {
				left: 430px;
			}
		}
		&.sixth {
			.demounted-engine__text {
				left: 740px;
			}
		}
		&.fifth {
			.demounted-engine__text {
				left: 630px;
			}
		}
	}
}
@media screen and (max-width: 360px) {
	.note-in-border__text--modif-icon {
		width: 100%;
		padding-left: 35px;
		&:before {
			left: 0;
		}
	}
}


