
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:#000;
	height:80px; 
	text-align:left;
	width:100%;
	min-width: $min-width;
    //order: 3;
    //-webkit-order: 3;
	position: absolute;
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}