/*
================================================================================
|                                     HUMBURGER                                 |
================================================================================
*/


.box-btn-menu {
	position: absolute;
	right: 28px;
	top: 63px;
	cursor: pointer;
	z-index: 20;

	&:hover {
		.btn-menu-text:after {
			background: #fff;
		}
	}
	&--close {
		
	}
}
.btn-menu-close {
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 20;
	color: #fff;
}
.btn-menu-text {
	color: #fff;
	font-size: 14.51px;
	margin-top: 14px;
	margin-left: 6px;
	font-weight: normal;
	letter-spacing: 0.2px;
	position: relative;
	display: inline-block;

	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 101%;
		height: 1px;
		transition: 0.2s;
		background: transparent;
	}
}

/* HAMBURGER */
$bar-width: 100%;
$bar-height: 2px;
$bar-spacing: 10px;
$bg_poloska: #ffffff;

.btn-menu {
	width: 53px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s;
	padding: 10px;

	&__bar,
	&__bar:after,
	&__bar:before {
		width: $bar-width;
		height: $bar-height;
		border-radius: 2px;
	}
	&__bar {
		position: relative;
		-webkit-transform: translateY($bar-spacing);
		-moz-transform: translateY($bar-spacing);
		-ms-transform: translateY($bar-spacing);
		-o-transform: translateY($bar-spacing);
		transform: translateY($bar-spacing);
		background: $bg_poloska;
		-webkit-transition: all 0ms 300ms;
		-o-transition: all 0ms 300ms;
		-moz-transition: all 0ms 300ms;
		transition: all 0ms 300ms;

		&.active {
			background: rgba(255, 255, 255, 0);
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: $bar-spacing;
			background: $bg_poloska;
			-webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: $bar-spacing;
			background: $bg_poloska;
			-webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		&.active:after {
			top: 0;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
		}
		&.active:before {
			bottom: 0;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -moz-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -o-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
		}
	}
}
.btn-menu__bar:before,
.btn-menu__bar:after {
	transition: 0.2s;		
}
.box-btn-menu--close:hover {
	.btn-menu__bar:before,
	.btn-menu__bar:after {
		background: #ddb86f;
		transition: 0.2s;
	}
}
/* EOF HAMBURGER */


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.box-btn-menu {
		top: 12px;
	}
	
}

