@media screen and (max-height: 1060px) {
	.slide-screen {
		padding-top: 158px;
	}
	.box-demounted-engine {
		// top: -70px;
	}
}
@media screen and (max-height: 980px) {
	.slide-screen {
	}
	.box-demounted-engine {
		// top: -80px;
	}
}
@media screen and (max-height: 940px) {
	.slide-screen {
		// padding-top: 70px;
	}
	.h-menu {
		// margin-top: 43px;
	}
}



@media screen and (max-width: 1920px) {	
	html  {
		font-size: 16px;
	}
}


@media screen and (max-width: 1870px) {
	.slide-container {
		padding-left: 275px;
	}
}

@media screen and (max-width: 1820px) {
	.slide-container {
		padding-left: 325px;
	}
}
@media screen and (max-width: 1770px) {
	.slide-container {
		padding-left: 325px;
	}
	.full-bg-image img {
		height: 100%;
		// width: 100%;
	}
}

@media screen and (max-width: 1750px) {	
	html  {
		font-size: 15px;
	}
	.box-carusel {
		margin-left: 60px;
	}
}

@media screen and (max-width: 1635px) {	
	html  {
		font-size: 14px;
	}
}

@media screen and (max-width: 1550px) {	
	html  {
		font-size: 13px;
	}
}

@media screen and (max-width: 1380px) {	
	html  {
		font-size: 12px;
	}	
}

@media screen and (max-width: 1280px) {	
	html  {
		font-size: 11px;
	}
}

@media screen and (max-width: 1190px) {	
	html  {
		font-size: 10px;
	}
	.box-carusel {
		margin-left: 50px;
	}
}
@media screen and (max-width: 1070px) {	
	.slide-head {
		font-size: 50px;
		line-height: 65px;
	}
	.box-head-slide {
		width: 500px;
	}
	.box-img-slide img {
		width: 510px;
	}
}





@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.box-img-slide {
		display: none;
	}	
	.box-head-slide {
		float: none;
	}
	.box-head-block-slide {
		float: none;
	}
	.box-head-slide {
		min-height: 17.625rem;
	}
	.box-head-slide--modif-height {
		min-height: 9.75rem;
	}
	.box-carusel {
		width: 46rem;
		margin-left: auto;
		margin-right: auto;
	}
	.note-in-border {
		margin-left: auto;
		margin-right: auto;
	}
	.box-btn-slide {
		text-align: center;
		position: relative;
		z-index: 10;
	}
	.box-head-slide {
		margin-left: auto;
		margin-right: auto;
	}
	.owl-stage-outer {
		margin-left: -20px;
	}
	.owl-next {
		right: -4.05rem;
	}
	.box-demounted-engine {
    top: 10.125rem;
  }
  .note-in-border--modif-border-off {
  	padding-left: 0;
  }
  .box-two-col-slide {  	
    max-width: 46.25rem;
    margin-left: auto;
    margin-right: auto;
	}
	.slide-container {
		padding-left: 10.625rem;
	}
	.main-page-header {
		// padding-left: 204px;
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.box-two-col-slide  {
		display: flex;
    flex-direction: row;
	}
	.slide-container {
		padding: 0 15px;
	}
}

@media screen and (max-width: 640px) {
	.owl-nav {
		display: none;
	}
	.slide-head {
		font-size: 35px;
		line-height: 45px;
	}
	.box-head-slide {
		min-height: 10rem;
	}
	.box-head-slide:before  {
		top: 37px;
	}
}

@media screen and (max-width: 480px) {
	.box-two-col-slide {
		justify-content: center;
    align-items: center;
    flex-direction: column;
	}
	.col-slide--modif-indent {
		margin-right: 0;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 375px) {
	.box-head-slide {
		margin: 0;
    width: 100%;
		padding: 16px 55px 0px 55px;
		&:before {
			left: 0px;
		}
	}
}