
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.eot?ver1.2');
	src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BebasNeueBold.woff?ver1.2') format('woff'),
	url('../fonts/BebasNeueBold.ttf?ver1.2') format('truetype'),
	url('../fonts/BebasNeueBold.svg#BebasNeueBold?ver1.2') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Medium.eot?ver1.2');
	src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Medium.woff?ver1.2') format('woff'),
	url('../fonts/GothamPro-Medium.ttf?ver1.2') format('truetype'),
	url('../fonts/GothamPro-Medium.svg#GothamPro-Medium?ver1.2') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot?ver1.2');
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Bold.woff?ver1.2') format('woff'),
	url('../fonts/GothamPro-Bold.ttf?ver1.2') format('truetype'),
	url('../fonts/GothamPro-Bold.svg#GothamPro-Bold?ver1.2') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot?ver1.2');
	src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro.woff?ver1.2') format('woff'),
	url('../fonts/GothamPro.ttf?ver1.2') format('truetype'),
	url('../fonts/GothamPro.svg#GothamPro?ver1.2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot?ver1.2');
	src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Medium.woff?ver1.2') format('woff'),
	url('../fonts/HelveticaNeueCyr-Medium.ttf?ver1.2') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium?ver1.2') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot?ver1.2');
	src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Light.woff?ver1.2') format('woff'),
	url('../fonts/HelveticaNeueCyr-Light.ttf?ver1.2') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light?ver1.2') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?ver1.2');
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Roman.woff?ver1.2') format('woff'),
	url('../fonts/HelveticaNeueCyr-Roman.ttf?ver1.2') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman?ver1.2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold.eot?ver1.2');
	src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Geometria-Bold.woff?ver1.2') format('woff'),
	url('../fonts/Geometria-Bold.ttf?ver1.2') format('truetype'),
	url('../fonts/Geometria-Bold.svg#Geometria-Bold?ver1.2') format('svg');
	font-weight: bold;
	font-style: normal;
}